<div class="profile-info">
    <div class="image-wrap">
        <div *ngIf="imageLoading" class="spinner-container">
            <mat-spinner class="spinner-margins"></mat-spinner>
        </div>
        <img *ngIf="imageData" [src]="imageData" (click)="fileInput.click()" alt="User image" matTooltip="Upload new picture"
            matTooltipPosition="after">
    </div>
    <input class="fileInput" type="file" (change)="onFileSelected($event)" accept="image/jpeg, image/jpg, image/png" #fileInput/>
    <h3 *ngIf="userData">{{userData.FirstName}} {{userData.LastName}}</h3>
    <h4 *ngIf="userData">{{userData.Email}}</h4>
    <h4 *ngIf="userData">{{userData.Role}}</h4>
    <div *ngIf="userData" class="button-container">
        <button mat-button (click)="onEditClick()" class="edit-button">Edit</button>
        <button *ngIf="selectedFile" mat-button (click)="onSaveClick()" class="save-button">Save new photo</button>
    </div>
</div>
<div *ngIf="userData && userData.Role!='Admin' && userData.Role!='Mentor'">
    <br>
    <h2>Group Rating</h2>
    <br>
    <table id="statistic">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Done</th>
            <th>In progress</th>
            <th>Approved</th>
            <th>Rejected</th>
        </tr>
        <tr *ngFor="let userStat of userStats; let i=index">
            <td>{{i+1}}</td>
            <td>{{users[i]}}</td>
            <td>{{userStat.DoneNumber}}</td>
            <td>{{userStat.InProgressNumber}}</td>
            <td>{{userStat.ApprovedNumber}}</td>
            <td>{{userStat.RejectedNumber}}</td>
        </tr>
    </table>  
    <div *ngIf="statisticsLoading" class="tasks-spinner-container">
            <mat-spinner class="spinner-margins"></mat-spinner>
    </div> 
    <br><br><br>
</div>