<div class="profile-info">
    <div class="image-wrap">
        <div *ngIf="imageLoading" class="spinner-container">
            <mat-spinner class="spinner-margins"></mat-spinner>
        </div>
        <img *ngIf="imageData" [src]="imageData" (click)="fileInput.click()" alt="User image" matTooltip="Upload new picture"
            matTooltipPosition="after">
    </div>
    <input class="fileInput" type="file" (change)="onFileSelected($event)" accept="image/jpeg, image/jpg, image/png" #fileInput/>
    <h3 *ngIf="userData">{{userData.FirstName}} {{userData.LastName}}</h3>
    <h4 *ngIf="userData">{{userData.Email}}</h4>
    <h4 *ngIf="userData">{{userData.Role}}</h4>
    <div *ngIf="userData" class="button-container">
        <button mat-button (click)="onEditClick()" class="edit-button">Edit</button>
        <button *ngIf="selectedFile" mat-button (click)="onSaveClick()" class="save-button">Save new photo</button>
    </div>
</div>
<div *ngIf="userData && userData.Role!='Admin' && userData.Role!='Mentor'">
    <h2>Tasks statistics</h2>
    <div *ngIf="statisticsLoading" class="tasks-spinner-container">
        <mat-spinner class="spinner-margins"></mat-spinner>
    </div>

    
    <div class="stats" *ngFor="let userStat of userStats; let i=index">
        <div class="states-first">
            <h3>Name</h3>
            <p>{{users[i]}}</p>
        </div>
        <div class="states-first">
            <h3>In progress</h3>
            <p>{{userStat.InProgressNumber}}</p>
        </div>
        <div class=states>
            <h3>Done</h3>
            <p>{{userStat.DoneNumber}}</p>
        </div>
        <div class=states>
            <h3>Approved</h3>
            <p>{{userStat.ApprovedNumber}}</p>
        </div>
        <div class=states>
            <h3>Rejected</h3>
            <p>{{userStat.RejectedNumber}}</p>
        </div>
    </div>
</div>