<div>
  <button id='chatBlock' class="open-button" (click)="openForm()">
      <span class="mt-name">Group chat</span>
      <i class="material-icons">group</i>
    </button>
<div class="form-popup" id="groupChatForm">   
    <div id="main-container" style="text-align:center">        
        <form #chatForm="ngForm"> 
            <button type="button" class="mybutton" (click)="closeForm()">
                <span class="mt-name">Group chat</span>
                <i class="material-icons">group</i>
            </button>
          <div class="container">
            <div class="chatlogs" #scrollMe [scrollTop]="scrollMe.scrollHeight" *ngIf="messages.length > 0">
              <button type="button" id="getAllMessages-button" class="more-button" (click)="getAllMessages()">View older messages</button>
              <div *ngFor="let message of messages">
                <div *ngIf = "isCurrentUser" [ngStyle]="{'color':'red', 'background-color':'green'}">
                  <p class="name-message">{{message.senderName}}:</p>
                  <br>
                  <p class="text-message">{{message.textMessage}}</p>
                  <p class="time-right">{{message.timeSent}}</p>
                </div>
              </div>
            </div>
            <div class="chat-form">
              <input autofocus type="text" id="messageInput" name="message" [(ngModel)]="message" required #reference>
              <button type="submit" class="send-btn" (click)="sendMessageToGroup()" (click)="reference.value=''">Send</button>
            </div>
          </div>
        </form>         
    </div>   
</div>
</div>
