<div>
    <button id='chatBlock' class="open-button" (click)="openForm()">
        <span class="mt-name">Group chat</span>
        <i class="material-icons">group</i>
      </button>
  <div class="form-popup" id="groupChatForm">
      <button class="mybutton" (click)="closeForm()">
          <span class="mt-name">Group chat</span>
          <i class="material-icons">group</i>
      </button>
    <form action="/action_page.php" class="form-container">
      <div id="main-container" style="text-align:center">   
        <div class="container">
          <form (ngSubmit)="sendMessageToGroup()" #chatForm="ngForm"> 
            <div class="chatlogs">
            <div *ngFor="let message of messages">
                <div class="chat self">
                    <img *ngIf="userImage" [src]="userImage" class="user-photo">
                    <p class="chat-message">{{message}}</p>
                </div>
            </div>
          </div>
            <div class="chat-form">
              <input type="text" id="message" name="message" [(ngModel)]="message" required>
              <button type="submit" class="send-btn">Send</button>
            </div>
          </form>  
        </div>
      </div>
    </form>
  </div>
</div>
