* {
  margin: 0;
  padding: 0;
  z-index:1000;
}

.toolbar {
  padding-left: 20px;
  padding-right: 20px;
}

.ordItem {
  color: aliceblue;
  text-decoration: none;
}

.spacer {
  flex: 1 1 auto;
}

.notification-container {
  height: 15em; 
  width: 15em;
}

.tooltip {
  font-size: 12px;
}

.profile-image {
  width: 26px;
  border-radius: 100%;
  margin-right: 10px;
}

.profile-button {
  padding: 0; 
  height: 40px;
}
.content {
  padding-top: 45px;
}