<h2 mat-dialog-title>{{task.Name}} 
  
</h2>
<mat-dialog-content>
  <h3>Task description:</h3>
  <textarea matInput placeholder="Task description" #descriptionTbx class="text-area">{{task.Description}}</textarea>
  <!--<h3>Task section:</h3>
    <mat-form-field>
      <mat-label>Task section</mat-label>
      <mat-select #TaskSection>
          <mat-option value="side">Side</mat-option>
          <mat-option value="over">Over</mat-option>
          <mat-option value="push">Push</mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <h3>Task priority:</h3>
    <mat-form-field>
      <mat-label>Task priority</mat-label>
      <mat-select #TaskPriority>
          <mat-option>Unset</mat-option>
          <mat-option [value]="true">True</mat-option>
          <mat-option [value]="false">False</mat-option>
        </mat-select>
    </mat-form-field>-->
    <mat-form-field>
      <input matInput type="text" class ="text-input" value="{{task.Youtube_Url}}" #urlyoutubeTbx="ngModel" [(ngModel)]="task.Youtube_Url" [pattern]="url_pattern" placeholder="Youtube URL" required>
      <div *ngIf="urlyoutubeTbx.errors?.pattern"> 
          Url is not valid.
       </div> 
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>  
  <button mat-button mat-dialog-close (click)="onSaveClick(descriptionTbx.value, urlyoutubeTbx.value)" >Save</button>
  <button mat-button mat-dialog-close>Cancel</button>
  <button class="deleteButton" mat-button mat-dialog-close (click)="onDeleteClick()">Delete</button>
</mat-dialog-actions>